
.listaTareas {
    max-height: 250px;
    overflow-y: auto;
}

.footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}


.listaTareas li {
    position: relative;
    list-style: none;
    height: 45px;
    line-height: 45px;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.listaTareas li .icono {
    position: absolute;
    right: -45px;
    background: #e74c3c;
    width: 45px;
    text-align: center;
    color: #fff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.listaTareas li:hover .icono {
    right: 0px;
}

.footer button {
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
    background: #8E49E8;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.footer button:hover {
    background: #721ce3;
}

.listaVacia {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ccc;
}